#container {
  background-color: black;
  display: flex;
  
  
}
a {
  text-decoration: none;
  color: white;
  
}
img {
 border: 1px solid #ddd;
  border-radius: 4px;
  width: 100px;
}
.head {
  flex-basis: 50%;
}
hi {
  font-weight: bold;
}
p {
  font-size: 20px;
  font-style: italic;
}

button {
  width: 100px;
  font-size: 13px;
  paddding: 12px 0;
  color: white;
  background-color: blue;
  border-radius: 100px;
  margin: 10px;
}
div {
  flex: 1;
}

#container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: center;
  
  gap: 8px;
}