#container {
  background-color: #1F2937;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  font-weight: 24px;
  color: #F9FAF8;
  flex: 1;
}
 
.head {
  flex-basis: 50%;
  color: white;
}

h1 {
  font-weight: 48px extra-bold;
  color: #F9FAF8;
}

p {
  font-size: 18px;
  font-style: italic;
  color: #E5E7EB;
}

button {
  width: 100px;
  font-size: 13px;
  padding: none;
  color: white;
  background-color: #3882f6;
  border-radius: 100px;
  margin: 10px;
}


ul {
  display: flex;
  justify-content: right;
  gap: 8px;
  list-style-type: none;
}
img {
  width: 100px;
  height: 100px;
}
.heading {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  text-align: center;
  color: blue;
}
.container2 {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.info {
  max-width: 200px;
}
#quotes {
  background: grey;
  border: 30px;
  padding: 30px;
}
.name {
  display: flex;
  justify-content: right;
  font-weight: bold;
}



  .last {
    width: 1o0%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-arond;
  }
.box-in {
   display: flex;
    width: 600px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 5px;
    height: 100px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 20px;
    
}
.box-in button {
   color: white;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 10px;
    width: 100px;
}
.call button {
  background-color: rgb(0,80,255);
  height: 40px;
  width: 200px;
  border-color: white;
  
}

.box {
  background-color: #1F2937;
  width: 100%;
}
.box footer .copyright {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 20px;
  
  
  
}
